.button {
	color: white;
	border: none;
	padding: calc(0.5rem + 1px) 1rem;
	font-weight: bold;
	border-radius: var(--mini-form-input-border-radius);;
	outline: none;
	cursor: pointer;
	font-size: 1em;
  font-family: inherit;
}

.button:hover {
  transform: scale(1.02);
/*  filter: drop-shadow(0px 0px 1px var(--mini-color-shade-dark)); */
	box-shadow: 0px 0px 3px 1px var(--mini-color-shade-dark);

}

.button:active {
  transform: scale(0.98);
	box-shadow: none;
}

.button.primary {
    background-color: var(--mini-color-primary);
}

.button.primary:active {
    background-color: var(--mini-color-primary-light);
}

.buttons > * {
	margin-left: 0.5em;
}

.buttons > *:first-child {
	margin-left: 0;
}

.buttons > *:hover {
  transform: scale(1.02);
/*  filter: drop-shadow(0px 0px 1px var(--mini-color-shade-dark)); */
	: 0px 0px 3px 1px var(--mini-color-shade-dark);
}

.icon-button {
    cursor: pointer;
    display: inline-block;
    justify-content: center;
		width: 1em;
}

.icon-button:HOVER {
    transform: scale(1.1);
		filter: drop-shadow(0px 0px 2px gray);
}

.icon-button:active {
  transform: scale(0.98);
	filter: none;
}

mini-calendar-input::part(icon-button) {
  cursor: pointer;
  display: flex;
  justify-content: center;
	/* from typography a */
  color: var(--mini-color-secondary);
	text-decoration: none;
}

mini-calendar-input::part(icon-button):HOVER {
  cursor: pointer;
  display: flex;
  justify-content: center;
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 2px gray);
	/* from typography a */
  color: var(--mini-color-secondary-light);
	text-decoration: none;
}

mini-calendar-input::part(icon-button):ACTIVE {
  transform: scale(0.98);
	filter: none;
	/* from typography a */
  color: var(--mini-color-secondary-light);
	text-decoration: none;
}
