.color-white {
	color: white;
}

.color-red {
	color: red;
}

.color-orange {
	color: orange;
}

.bgcolor-primary-light {
	background-color: var(--mini-color-primary-light);
}

.checked {
	background-color: var(--mini-color-secondary-ultralight);
}

.bgcolor-primary-light.checked {
	background-color: var(--mini-color-secondary);
}

.bgcolor-primary-light.checked a {
	color: var(--mini-color-secondary-ultralight);
}

.bgcolor-primary-light.checked a:HOVER {
	color: white;
}

.bgcolor-primary-light a {
	color: var(--mini-color-secondary-ultralight);
}

.bgcolor-primary-light a:HOVER {
	color: white;
}

