.container.limited {
	max-width: 1024px;
  margin: 5px auto;
}

.panel {
  background-color: white;
  box-shadow: 0 0 3px 1px var(--mini-color-shade);
  padding: var(--mini-form-pad);
  border-radius: var(--mini-form-input-border-radius);
	margin: 0.5rem;
}

.panel.no-margin, .container.no-margin {
	margin: unset;
}

.panel.no-padding, .container.no-padding {
	padding: unset;
}

.panel.no-rounded-corners {
	border-radius: initial;
}

.pad-top {
	padding-top: 0.5em;
}
