.flex.table.header {
	background-color: var(--mini-color-primary);
	color: white;
	font-weight: bold;
	border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.flex.table.header .flex.col {
	padding: .5rem;
}

.flex.table.content .flex.col {
	padding: .5rem;
}

.flex.table.content > .row {
	border-bottom: 1px silver solid;
}

.flex.table.content .flex.col.no-padding {
	padding: 0;
}
