.flex {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

.flex.no-flex {
	flex: 0;
}

.flex.no-wrap {
	white-space: nowrap;
}

.flex.pad {
	padding: 5px;
}

.flex.col {
	flex-direction: column;
}

.flex.col.align-hcenter {
	align-content: center;
  align-items: center;	
}

.flex.col.align-hstretch {
	align-content: stretch;
  align-items: stretch;	
}

.flex.col.align-vcenter {
	justify-items: center;
	justify-content: center;
}

.flex.col.align-vtop {
	justify-items: start;
	justify-content: start;
}

.flex.col.align-hleft {
	align-items: start;
	align-content: start;
}

.flex.col.width-half {
	flex-basis: 50px;
	flex-grow: 0.5;
}

.flex.col.width-1, .flex.row.width-1 {
	flex-basis: 100px;
	flex-grow: 1;
}

.flex.col.width-2 {
	flex-basis: calc(200px + (2 * 0.5rem)); /* include padding in between cells */
	flex-grow: 2;
}

.flex.col.width-3 {
	flex-basis: calc(300px + (4 * 0.5rem)); /* include padding in between cells */
	flex-grow: 3;
}

.flex.col.width-4 {
	flex-basis: calc(400px + (6 * 0.5rem)); /* include padding in between cells */
	flex-grow: 4;
}

.flex.col.width-fill, .flex.col.width-fill {
	width: -webkit-fill-available;
}

.flex.col.width-fit-content {
	max-width: fit-content;
}

.flex.row {
	flex-direction: row;
}

.flex.row.align-hcenter {
	justify-content: center;
  justify-items: center;	
}

.flex.row.align-vcenter {
	align-content: center;
  align-items: center;	
}

.flex.row.align-vtop {
	align-content: start;
  align-items: start;	
}
