.form {
	padding-right: var(--mini-form-pad);
}

.form .field {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 0 0 var(--mini-form-pad) 0;
}

.form .field label {
	flex: 1;
	font-weight: bold;
	padding-left: 0.2rem;
	padding-bottom: 0.2rem;
	color: var(--mini-color-primary-dark);
}

.form .fieldset {
	display: flex;
	flex: 1;
	margin-right: calc( 0px - var(--mini-form-pad) );
	border: none;
}

input, mini-calendar-input, mini-select-box {
	padding: var(--mini-form-input-pad);
	outline: none;
	border-radius: var(--mini-form-input-border-radius);
	border: 1px var(--mini-color-shade-light) solid;
	font-family: var(--mini-font-family);
	font-size: 1rem;
	font: inherit;
	color: var(--mini-color-primary);
	min-height: 1.3em;
}

input:focus, mini-calendar-input:focus, mini-select-box:focus, mini-calendar-input:focus-within {
		box-shadow: 0 0 0.25rem 0 var(--mini-color-shade-dark);
		border-color: var(--primary-color);
		border: 1px var(--mini-color-shade-dark) solid;
	z-index: 2; /* let shadow on top */
}

mini-select-box.popped {
	border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}

.form .field .field-group {
	display: flex;
	flex: 1;
	flex-direction: row;
}

.form .field .field-group label {
	border: 1px var(--mini-color-shade-light) solid;
	border-right: none;
	border-left: none;
	padding: var(--mini-form-pad);
	background-color: var(--mini-color-secondary);
	color: white;
	align-items: center;
}
	
.form .field .field-group > * {
	padding: var(--mini-form-input-pad);
	border-radius: 0;
}

.form .field .field-group input, .form .field .field-group mini-calendar-input {
	border-radius: 0;
	width: 0;
}

.form .field .field-group > *:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
	border-left: 1px var(--mini-color-shade-light) solid;
}

.form .field .field-group > *:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
	border-right: 1px var(--mini-color-shade-light) solid;
}

.form .field .field-group > input:last-child:focus, .form .field .field-group > mini-calendar-input:last-child:focus, .form .field .field-group > mini-calendar-input:last-child:focus-within {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
	border-right: 1px var(--mini-color-shade-dark) solid;
}

.no-data:empty:before {
  content: "No data.";
  color: var(--shade-color);
}
