.loading {
        position: relative;
        overflow: hidden;
}

.loading::BEFORE {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff50;
        z-index: 10;
        backdrop-filter: blur(2px);
        content: "";
}

.loading::AFTER {
        font-family: "Font Awesome 5 Free";
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-weight: 900;
        content: "\f021";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        filter: drop-shadow(0px 0px 1px white);
        animation: rotate 1s cubic-bezier(0.66, 0.00, 0.33, 1) infinite;
}

@keyframes rotate {
        from {
                transform: rotate(0deg);
        }

        to {
                transform: rotate(360deg);
        }

}
