/*
.tag {
  background-color: #CDDC39;
  padding: 0.15rem 0.5rem;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--color-white);
	font-size: 80%;
}

.tag.rounded {
	border-radius: 0.25rem;
}
*/
.tag {
    display: flex;
    color: white;
    margin: 0px;
    padding: 0px 8px 2px 8px;
    border-radius: 5px;
    font-variant: all-petite-caps;
    font-weight: bold;
    font-size: 1em;
    box-shadow: inset 0 0 6px 0px lightgrey;
    text-shadow: 0 0 2px black;
    background-color: black;
    max-width: fit-content;
    white-space: nowrap;
}

.tag.small {
	font-size: 0.9em;
}

.tag i {
    margin-left: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.tag i.button {
  padding: 0;
}

.tag.red {
    background-color: #d00e00;
}

.tag.red i {
	color: white;
}

.tag.orange {
    background-color: hsl(36, 100%, 58%);
}

.tag.blue {
    background-color: #2196F3;
}

.tag.green {
    background-color: #56cc0b;
}

.tag.violet {
	background-color: #673ab7;
}

.tag.olive {
	background-color: #808000;
}
