.bold {
	font-weight: bold;
}

.label {
	font-weight: bold;
}

.align-hcenter {
	text-align: center;
}

.align-hjustify {
	text-align: justify;
}

.no-text-wrap {
	white-space: nowrap;
}

.margin-right {
	margin-right: 0.5em;
}

a, a:visited {
  color: var(--mini-color-secondary);
	text-decoration: none;
}

a:hover {
  color: var(--mini-color-secondary-light);
	text-decoration: none;
}

.hidden {
	display: none !important;
}
.invisible {
	visibility: hidden;
}

/* TOOLTIP */
.has-tooltip {
	position: relative;
}

.has-tooltip .tooltip {
	position: absolute;
	display: none;
	background-color: #2093ac;
	color: white;
	padding: 5px;
	border-radius: 5px;
	top: 100%;
	left: 0;
	z-index: 10;
	box-shadow: 0 0 3px 1px var(--mini-color-shade);
}

.has-tooltip:HOVER .tooltip {
	display: inline;
}

.blink {
	animation: blink 2s linear infinite;
}

@keyframes blink {
	0% { opacity: 1; }
	90% { opacity: 1; }
	95% { opacity: 0; }
	100% { opacity: 1; }
}
